body{
	font-family: 'Open Sans', sans-serif;
}

.name{
	font-family: 'Libre Baskerville', serif;
}

.contact{
	font-family: 'Libre Baskerville', serif;
}

footer{
	font-family: 'Libre Baskerville', serif;
}
.subheading{
	font-family: 'Libre Baskerville', serif;
}

footer a{
	text-decoration: none;
}

.container{
	width:70%;
	margin: 0 15%;
	background-color: white;
}

.name{
	text-align: center;
}

.logo{
	width: 90px;
}

.contact{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

@media (min-width: 600px) {

	.contact li{
		display: inline;
	}

	.badge{
		display: inline;
		background-color: red;
		color: white !important;
		font-size:10px;
		padding: 10px !important;
		border-radius: 4px;
		float: right;
	}
}
.contact a{
	text-decoration: none;
	color: black;
}

.subheading{
	clear: both;
}

footer{
	text-align: center;
	margin: 50px 15%;
	width: 70%;
}

.badge{
	display:block;
	color: gray;
	font-size:15px;
	padding: 0px;
	border-radius: 4px;
}

.bio{
	text-align: justify;
}