body{
	font-family: 'Open Sans', sans-serif;
}

.name{
	font-family: 'Libre Baskerville', serif;
}

.contact{
	font-family: 'Libre Baskerville', serif;
}

footer{
	font-family: 'Libre Baskerville', serif;
}
.subheading{
	font-family: 'Libre Baskerville', serif;
}

footer a{
	text-decoration: none;
}

.container{
	width:70%;
	margin: 0 15%;
	background-color: white;
}

.name{
	text-align: center;
}

.logo{
	width: 90px;
}


span{
	display: inline;
	float: right;
}

.contact{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.contact li{
	display: inline;

}

.contact a{
	text-decoration: none;
	color: black;
}

.subheading{
	clear: both;
}

footer{
	text-align: center;
	margin: 50px 15%;
	width: 70%;
}